@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body{
    background-color: #ead2c3!important;
  overflow-x: hidden;
}

img{
    margin-bottom: -15% !important;
    padding-bottom: 0%;
    ///padding-bottom: 0 !important;
    padding-right: 0 !important;
    margin-left: 3%;
}