body {
    background-color: #ffffff;
    overflow: hidden;
}
.main_container {
    background: white;
}
.cpl:hover{
    border: 2px solid black;
  box-shadow: 5px 5px gray; 
  ;
  transition: 50ms;
  //transition-delay: 500ms;
  //transform:scale(1.003);
}
.btm{
    border: 2px solid black;
}
.logo{
    max-width: 83%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.cpl{
    transition: 300ms;
}
.sldr{
    //object-fit: cover;
}
.brdr2{
   // border: 1px dotted black;
    //box-shadow: 5px 5px gray;
}
.sldr_txt{

}
.up_scroll_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    //font-weight: 600;
    font-size: 3.75rem;
    font-family: "Amatic SC";
}
.scroller_up {
    height: 5.5rem;
    //margin: auto;
    overflow: hidden;
    
    ul {
      margin: 0 0.625rem;
      padding: 0;
      animation: scrollUp 8s infinite;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 3rem;
        list-style: none; 
      }
    }
  }
  
  // Variables
  $item-count: 4;
  
  @keyframes scrollUp {
    @for $i from 1 through ($item-count - 1) {
      #{($i * 25) - 10%}, #{$i * 25%} {
        transform: translateY((-100% / $item-count) * $i);
       // justify-content: center;
      }
    }
  }
-----------------------------------------------------------------------**** do not copy upwards
Add class to carousel-item additionally, change png to botain continous animation. connec front and back
Additionally maybe the lack of padding and margins is what causes the slideshow to render out of proportion. Combat this by changing the params. 


 .txt2{
  min-height: 33vh; //change to something else or fit to container. 
  margin: 0;
  padding: 0;
object-fit: contain;
text-align: center;
  background-color: #bfdfec;
  font-family: system-ui, calibri, serif;
  background-repeat: repeat-x;
  background-image: url("https://tmpfiles.org/dl/1630822/newproject1.png");
  background-size: cover; // fit conver
  animation: movement 10s linear infinite;
}

@keyframes movement {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.car{
    max-width:25%;
    position: absolute;
    bottom: 0%;
    left: 40%;
}


Additionally, direction for the carousel can be changed, refer to docs. 

*********************************rocket code below:

.txt2{
  min-height: 33vh; //change to something else or fit to container. 
  margin: 0;
  padding: 0;
object-fit: contain;
text-align: center;
  background-color: #bfdfec;
  font-family: system-ui, calibri, serif;
  background-repeat: repeat-x;
  background-image: url("https://img.freepik.com/free-vector/rising-sun-mountains-starry-sky_1217-1459.jpg?w=740&t=st=1688131186~exp=1688131786~hmac=2da91dbc312da75b5c5dfc17917037d08e9a9267f3930fa8a8bccf72325030f3");
  background-size: cover;
 animation: movement 10s linear infinite
}

@keyframes movement {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes movement2 {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.car{
    max-width:60%;
    position: absolute;
    bottom: -10%;
    left: 20%;
    opacity: 0;
}
.txt2:hover{
    .car{
    opacity:1;
    }
      animation: movement2 3.25s linear infinite;
}
    

*********************************************************************

final
<img src="https://tmpfiles.org/dl/1631602/sun.png" class="cars">

@keyframes movement {
  0% {
    background-position: 0% 30%;
  }
  100% {
    background-position: 100% 30%;
  }
}

.car{
    max-width:60%;
    position: absolute;
    bottom: 0%;
    left: 40%;
    
}
.cars{
   
    max-width:35%;
    position: absolute;
    top: 25%;
    left: 30%;
    
}




