body {
    background-color: #ffffff;
    overflow: hidden;
    cursor: url("/Resources/cursor.png"),auto;
}
.main_container {
    background: white;
   
}

img{
    max-width: 100%;
    max-height: 100%;
}
.cpl:hover{
    border: 2px solid black;
  box-shadow: 5px 5px gray; 
  ;
  transition: 50ms;
  //transition-delay: 500ms;
  //transform:scale(1.003);
}
.btm{
    border: 2px solid black;
}
.logo{
    max-width: 83%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.cpl{
    transition: 300ms;
   
}
.sldr{
    //object-fit: cover;
}
.brdr2{
   // border: 1px dotted black;
    //box-shadow: 5px 5px gray;
}
.sldr_txt{

}
.up_scroll_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    //font-weight: 600;
    font-size: 3.75rem;
    font-family: "Amatic SC";
}
.scroller_up {
    height: 5.5rem;
    //margin: auto;
    overflow: hidden;
    
    ul {
      margin: 0 0.625rem;
      padding: 0;
      animation: scrollUp 8s infinite;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 3rem;
        list-style: none; 
      }
    }
  }
  
  // Variables
  $item-count: 4;
  
  @keyframes scrollUp {
    @for $i from 1 through ($item-count - 1) {
      #{($i * 25) - 10%}, #{$i * 25%} {
        transform: translateY((-100% / $item-count) * $i);
       // justify-content: center;
      }
    }
  }

  .carousel-item {
    //margin: 0;
    padding: 0;
   // margin-bottom: 1%;
  }
  .carousel {
    padding: 0;
    margin-bottom: 0;
  }
  carousel-inner{
    overflow: hidden;
    margin-bottom: 0;
  }
  
//   ----------------------------------------------btm

@keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 21.2em;
    }
  }
  @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 17em;
    }
  }
  .text_1 {
    animation: text1;
  }
  .text_2 {
    animation: text2;
  }
  .text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 20s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  .text_1::after, .text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }
  