body {
    background-color: #ffffff;
    overflow: hidden;
}
.main_container {
    background: white;
}
.cpl:hover{
    border: 2px solid black;
  box-shadow: 5px 5px gray; 
  ;
  transition: 50ms;
  //transition-delay: 500ms;
  //transform:scale(1.003);
}
.btm{
    border: 2px solid black;
}
.logo{
    max-width: 83%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.cpl{
    transition: 300ms;
}
.sldr{
    //object-fit: cover;
}
.brdr2{
   // border: 1px dotted black;
    //box-shadow: 5px 5px gray;
}
.sldr_txt{

}
.up_scroll_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    //font-weight: 600;
    font-size: 3.75rem;
    font-family: "Amatic SC";
}
.scroller_up {
    height: 5.5rem;
    //margin: auto;
    overflow: hidden;
    
    ul {
      margin: 0 0.625rem;
      padding: 0;
      animation: scrollUp 8s infinite;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 3rem;
        list-style: none; 
      }
    }
  }
  
  // Variables
  $item-count: 4;
  
  @keyframes scrollUp {
    @for $i from 1 through ($item-count - 1) {
      #{($i * 25) - 10%}, #{$i * 25%} {
        transform: translateY((-100% / $item-count) * $i);
       // justify-content: center;
      }
    }
  }
-----------------------------------------------------------------------**** do not copy upwards
Add class to carousel-item additionally, change png to botain continous animation. connec front and back
Add

 .txt2{
  min-height: 33vh; //change to something else or fit to container. 
  margin: 0;
 object-fit: fill;

  background-color: #bfdfec;
  font-family: system-ui, calibri, serif;
  background-repeat: repeat-x;
  background-image: url("https://i.stack.imgur.com/b7z29.png");
  animation: movement 10s linear infinite;
}

@keyframes movement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 560px 0px;
  }
}
